.users-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.users-header {
  text-align: center;
}

.search-container {
  margin-top: 20px;
  text-align: center; /* Center the search container */
}

.search-input {
  width: 60%; /* Adjust the width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #4CAF50; /* Green color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding transition effect */
}

.search-button:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center; /* Aligning content to the center */
}

.table th {
  background-color: #f2f2f2;
}

.button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #d32f2f;
}

.add-seller-button-container {
  text-align: center;
  margin-top: 20px;
}

.add-seller-button {
  background-color: #2196f3; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding transition effect */
}

.add-seller-button:hover {
  background-color: #0b7dda; /* Darker shade of blue on hover */
}
