@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa; /* Light gray background */
}

.navbar {
    background-color: #025891; /* Dark blue background */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease; /* Smooth color transition */
}

.navbar-link:hover {
    color: #FFD700; /* Yellow hover color */
    background-color: #073d8d; /* Darker blue background */
    border-radius: 8px;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #025891; /* Dark blue background */
    min-width: 160px;
    z-index: 1002;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #073d8d; /* Darker blue hover color */
}

.navbar-item.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
